[Unit]
Description=Rana Nostr Miner Service
After=network.target

[Service]
User=c03rad0r
Group=c03rad0r
ExecStart=/bin/bash /home/c03rad0r/rana/runner.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target